<%-include("partials/header.ejs") %>
<div class="profile-cont">
    <div class="profile">
        <div class="img">
            <img src="/profile.jpg" alt="">
        </div>
        <div class="details">
            <p><strong>Username       : </strong> <%= userid %> </p>
            <p><strong>UserID         : </strong> <%= username %></p>
            <p><strong>Email          : </strong> <%= email %></p>
            <p><strong>Total Bookings : </strong><%= total %> </p>
            <a href="/history" type="button" class="button buttonsmall" style="margin-left: 35%;">View History</a>
        </div>
        
    </div>
</div>
<%-include("partials/footer.ejs") %>